.business-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .business-details-image  {
    width: 100%; /* Set image width to 100% of its container */
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    margin-bottom: 20px; /* Add margin at the bottom for spacing */
    margin-top: 5%;
  }
  .business-details-image img{
    width: 500px;
  }
  
  .business-details-form {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin: 0 auto; /* Center the form horizontally */
    text-align: left; /* Adjust text alignment to the left */
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .business-details-heading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
  }
  
  .form-field {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
 
  select {
    width: 100%; /* Make input fields and select box full width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  input[type='text'],
  input[type='number']{
    width: 94%; /* Make input fields and select box full width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Media query for desktop view */
  @media (min-width: 768px) {
    .business-details-container {
      flex-direction: row; /* Display elements side by side on desktop */
      align-items: center; /* Center both horizontally and vertically */
    }
  
    .business-details-image {
      width: 50%; /* Set image width to 50% for desktop */
      max-width: 100%; /* Ensure the image doesn't exceed its container */
      margin-right: 20px; /* Add spacing between image and form */
      margin-bottom: 0; /* Remove margin at the bottom */
    }
    .sampleTT{
      margin-left: 5vw;
    }
  }

  .error {
    color: red;
    font-size: 14px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
  }
  